
@model List<Blog>

<div class="mainbar">
    @foreach(var blog in Model)
    {
        <div class="article">
            <h2><span>@blog.Name</span></h2>
            <div class="clr"></div>
            <p><span class="date">@blog.PublishDate</span> Gepost door <a href="#">Owner</a><br />Tags: <a href="#">@blog.Tags</a>
            @* <img src="/images/img1.jpg" width="625" height="205" alt="" /> *@
            <img src="@blog.ImageUrl" width="625" height="205" alt="" />
            <p>@blog.Description</p>
            <p class="spec"><a href="/Blogs/Details" class="rm">Lees meer</a> 
                <a href="#" class="com"><span>@blog.CommentCount</span> Comments</a>
                <a href="#" class="com"><span>@blog.LikeCount</span> Likes</a>
                <a href="#" class="com"><span>@blog.ViewCount</span> Views</a>
            </p>
        </div>
    }
   
</div>